.tdw {
    width:20%;
    min-width:200px;
}

.tdw2 {
    width:15%;
    min-width:150px;
}

.tdw3 {
    width:10%;
    min-width:100px;
}

.gruen {
    background-color: green;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.gelb {
    background-color: yellow;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.rot {
    background-color: red;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
}