<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projektsteckbrief</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/script/checkscript.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<ul class="nav navbar-nav">
        	<li><a href="/">Home</a></li>
            <li class="active"><a href="/item">New Project</a></li>
            <li><a href="/people">User Management</a></li>
        </ul>
    </nav>
	
	<div class="container theme-showcase" role="main">
		
		<div class="page-header"><h2>Projektsteckbrief</h2></div>
		
		<ul class="nav nav-tabs">
			<li id="infoLi"><a id="infoTab" onClick="tabChange('info')">Projektinformation</a></li>
	  		<li id="financeLi"><a id="financeTab" onClick="tabChange('finance')">Finanzen</a></li>
	  		<li id="timeLi"><a id="timeTab" onClick="tabChange('time')">Zeit</a></li>
	  		<li id="statusLi"><a id="statusTab" onClick="tabChange('status')">Status</a></li>
	  		<li id="riskLi"><a id="riskTab" onClick="tabChange('risk')">Risiken</a></li>
		</ul>
		
		<div class="tab-content">
		
			<div id="info" class="tab-pane fade">
				<form action="#" th:action="${postAction}" method="post" th:object="${itemDetail}" name="Project">
					<input type="hidden" th:field="*{id}" id="projectId" value="0" />
					<input type="hidden" id="tabField" th:value="${tabField}" /> 
				    	<div class="list-group">
				        	<a href="#" class="list-group-item">
				              <p class="list-group-item-text">Projekt Name</p>
				              <h4 class="list-group-item-heading"><input type="text" th:field="*{name}" id="name" onChange="onProjectChange()"/> </h4>
				              <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
				            </a>
				            <a href="#" class="list-group-item">
				              <p class="list-group-item-text">Projekt Start</p>
				              <h4 class="list-group-item-heading"><input type="date" th:field="*{start}" id="start" onChange="onProjectChange()" /> </h4>
				              <p th:if="${#fields.hasErrors('start')}" th:errors="*{start}">Date Error</p>
				            </a>
				            <a href="#" class="list-group-item">
				              <p class="list-group-item-text">Projekt Ende</p>
				              <h4 class="list-group-item-heading"><input type="date" th:field="*{end}" id="end" onChange="onProjectChange()" /> </h4>
							  <p th:if="${#fields.hasErrors('end')}" th:errors="*{end}">Date Error</p>		            
				            </a>
				            <a href="#" class="list-group-item">
				              <p class="list-group-item-text">Projekt Phase</p>
				              <h4 class="list-group-item-heading">
				              	<select name="selectSelectPhase" th:field="*{project_phase}" onChange="onProjectChange()">
				              		<option value="Initialisierung">Initialisierung</option>
				              		<option value="Konzeption">Konzeption</option>
				              		<option value="Realisierung">Realisierung</option>
				              		<option value="Einführung">Einführung</option>
				              	</select>
				              </h4>
				            </a>
				            <a href="#" class="list-group-item">
				              <p class="list-group-item-text">Projekt Auftraggeber</p>
				              
				              <h4 class="list-group-item-heading">
				              
				              		<select name="selectAuftraggeber" th:field="*{customer_id}">
				              			<option th:each="people : ${list}" th:text="${people.getFullname()}" th:value="${people.getId()}" th:name="${people.getFullname()}">Option 1</option>
									</select>
					                
						            <button type="button" onClick="checkChange()" class="btn btn-default new-person" data-toggle="modal" data-target="#newPerson" aria-label="Left Align">
				  						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
				              
				              </h4>
				            </a>
				            <a href="#" class="list-group-item">
				                <p class="list-group-item-text">Projektleiter</p>
				                
				                <h4 class="list-group-item-heading">
				                
					                <select name="selectSelectPL" th:field="*{projectleader_id}" >
				              			<option th:each="people : ${list}" th:text="${people.getFullname()}" th:value="${people.getId()}" th:name="${people.getFullname()}">Option 1</option>
									</select>
					                
						            <button type="button" onClick="checkChange()" class="btn btn-default new-person" data-toggle="modal" data-target="#newPerson" aria-label="Left Align">
				  						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
		           
				                </h4>
				              
				            </a>
				          </div>
					<div class="row" align="right">
						<button type="button" class="btn btn-lg btn-primary" onClick="validateAndSubmitProject()">Speichern</button>
					</div> 
				</form>
			</div>
					
			<div id="finance" class="tab-pane fade">
				<form id="formCost" action="#" th:action="${postActionCost}" method="post" th:object="${itemDetailCost}" name="formCost">
					<input type="hidden" th:field="*{id}" id="costId"/>
					<input type="hidden" th:field="*{project_id}" id="project_id"/>
					<input type="hidden" th:object="${itemDetailProgress}" th:field="*{Progress}" id="progress"/>
				    <table class="table table-striped">
						<tr>
							<th/>
							<th>Gesamt</th>
							<th>Initialisierung</th>
							<th>Konzeption</th>
							<th>Realisierung</th>
							<th>Einführung</th>
						</tr>
						<tr>
							<td>
								Soll
							</td>
							<td id="financeTotalShould">
								
							</td>
							<td>
								<input type="text" th:field="*{nom_initial}" size="10"  id="nom_initial" onBlur="calculateCost()" onChange="onFinanceChange()"/>
								<p th:if="${#fields.hasErrors('nom_initial')}" th:errors="*{nom_initial}">Format Error</p>
							</td>
							<td>
								<input type="text" th:field="*{nom_conception}" size="10"  id="nom_conception" onBlur="calculateCost()" onChange="onFinanceChange()"/>
								<p th:if="${#fields.hasErrors('nom_conception')}" th:errors="*{nom_conception}">Format Error</p>
							</td>
							<td>
								<input type="text" th:field="*{nom_realization}" size="10"  id="nom_realization" onBlur="calculateCost()" onChange="onFinanceChange()"/>
								<p th:if="${#fields.hasErrors('nom_realization')}" th:errors="*{nom_realization}">Format Error</p>
							</td>
							<td>
								<input type="text" th:field="*{nom_introduction}" size="10"  id="nom_introduction" onBlur="calculateCost()" onChange="onFinanceChange()"/>
								<p th:if="${#fields.hasErrors('nom_introduction')}" th:errors="*{nom_introduction}">Format Error</p>
							</td>
						</tr>
						<tr>
							<td>
								Ist
							</td>
							<td id="financeTotalIs">
								
							</td>
							<td>
								<input type="text" th:field="*{tgt_initial}" size="10" onBlur="calculateCost()" onChange="onFinanceChange()"/>
								<p th:if="${#fields.hasErrors('tgt_initial')}" th:errors="*{tgt_initial}">Format Error</p>
							</td>
							<td>
								<input type="text" th:field="*{tgt_conception}" size="10"  onBlur="calculateCost()" onChange="onFinanceChange()"/>
								<p th:if="${#fields.hasErrors('tgt_conception')}" th:errors="*{tgt_conception}">Format Error</p>
							</td>
							<td>
								<input type="text" th:field="*{tgt_realization}" size="10"  onBlur="calculateCost()" onChange="onFinanceChange()"/>
								<p th:if="${#fields.hasErrors('tgt_realization')}" th:errors="*{tgt_realization}">Format Error</p>
							</td>
							<td>
								<input type="text" th:field="*{tgt_introduction}" size="10"  onBlur="calculateCost()" onChange="onFinanceChange()" />
								<p th:if="${#fields.hasErrors('tgt_introduction')}" th:errors="*{tgt_introduction}">Format Error</p>
							</td>
						</tr>
						<tr>
							<td>
								Delta
							</td>
							<td id="financeTotalDelta">
								
							</td>
							<td id="financeInitDelta">
								
							</td>
							<td id="financeConceptDelta">
								
							</td>
							<td id="financeRealDelta">
								
							</td>
							<td id="financeIntroDelta">
								
							</td>
						</tr>
						<tr>
							<td>
								EV
							</td>
							<td id="calculatedEV">
							</td>
						</tr>
					</table>
					<div class="row" align="right">
						<button type="button" class="btn btn-lg btn-primary" onClick="formSubmitCost()">Speichern</button>
					</div>
				</form>
			</div>
			
			<div id="time" class="tab-pane fade">
				<form id="formTime" onsubmit="disableEmptyInputs(this)" action="#" th:action="${postActionTime}" method="post" th:object="${itemDetailTime}" name="formTime">
					<input type="text" th:field="*{id}" id="timeId" value="0" hidden="0" />
					<input type="text" th:field="*{project_id}" id="project_id" value="0" hidden="0" />
					<table class="table table-striped">
						<tr>
							<th/>
							<th>Soll</th>
							<th>Ist</th>
							<th>Delta</th>
						</tr>
						<tr><th>Übersicht des Gesamtprojekts</th><th/><th/><th/></tr>
						<tr>
							<td>
								Gesamtprojekt Start
							</td>
							<td>
								<input type="date" id="start_soll" th:field="*{start_soll}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td>
								<input type="date" id="start_ist" th:field="*{start_ist}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td id="timeStartDelta">
							</td>
						</tr>
						<tr>
							<td>
								Gesamtprojekt Ende
							</td>
							<td>
								<input type="date" id="end_soll" th:field="*{end_soll}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td>
								<input type="date" id="end_ist" th:field="*{end_ist}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td id="timeEndDelta">
							</td>
						</tr>
						<tr><td><hr /> </td><td><hr /></td><td><hr /></td><td><hr /></td></tr>
						<tr><th>Übersicht der einzelnen Projektphasen</th><th/><th/><th/></tr>
						<tr>
							<td>	
								Initialisierung Start
							</td>
							<td>
								<input type="date" id="nom_initial_soll" th:field="*{nom_initial_soll}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td>
								<input type="date" id="nom_initial_ist" th:field="*{nom_initial_ist}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td id="timeNomInitialDelta">
							</td>
						</tr>
						<tr>
							<td>
								Initialisierung Ende
							</td>
							<td>
								<input type="date" id="tgt_initial_soll" th:field="*{tgt_initial_soll}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td>
								<input type="date" id="tgt_initial_ist" th:field="*{tgt_initial_ist}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td id="timeTgtInitialDelta">
							</td>
						</tr>
						<tr>
							<td>
								Konzeption Start
							</td>
							<td>
								<input type="date"  id="nom_conception_soll" th:field="*{nom_conception_soll}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td>
								<input type="date"  id="nom_conception_ist" th:field="*{nom_conception_ist}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td id="timeNomConceptionDelta">
							</td>
						</tr>
						<tr>
							<td>
								Konzeption Ende
							</td>
							<td>
								<input type="date" id="tgt_conception_soll" th:field="*{tgt_conception_soll}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td>
								<input type="date" id="tgt_conception_ist" th:field="*{tgt_conception_ist}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td id="timeTgtConceptionDelta">
							</td>
						</tr>
						<tr>
							<td>
								Realisierung Start
							</td>
							<td>
								<input type="date" id="nom_realization_soll" th:field="*{nom_realization_soll}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td>
								<input type="date" id="nom_realization_ist" th:field="*{nom_realization_ist}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td id="timeNomRealizationDelta">
							</td>
						</tr>
						<tr>
							<td>
								Realisierung Ende
							</td>
							<td>
								<input type="date" id="tgt_realization_soll" th:field="*{tgt_realization_soll}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td>
								<input type="date" id="tgt_realization_ist" th:field="*{tgt_realization_ist}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td id="timeTgtRealizationDelta">
							</td>
						</tr>
						<tr>
							<td>
								Einführung Start
							</td>
							<td>
								<input type="date" id="nom_introduction_soll" th:field="*{nom_introduction_soll}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td>
								<input type="date" id="nom_introduction_ist" th:field="*{nom_introduction_ist}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td id="timeNomIntroductionDelta">
							</td>
						</tr>
						<tr>
							<td>
								Einführung Ende
							</td>
							<td>
								<input type="date" id="tgt_introduction_soll" th:field="*{tgt_introduction_soll}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td>
								<input type="date" id="tgt_introduction_ist" th:field="*{tgt_introduction_ist}" onBlur="calculateTime()" onChange="onTimeChange()"/>
							</td>
							<td id="timeTgtIntroductionDelta">
							</td>
						</tr>
					</table>
					<div class="row" align="right">
						<!-- <input type="submit" class="btn btn-lg btn-primary" onclick="formSubmitTime()" value="Speichern"/> -->
						<button type="button" class="btn btn-lg btn-primary" onClick="formSubmitTime()">Speichern</button>
					</div>
				</form>
			</div>
			
			<div id="status" class="tab-pane fade">
				<table class="table table-striped">
					<tr>
						<th>Periode Start</th>
						<th>Periode Ende</th>
						<th>Kosten</th>
						<th>Zeit</th>
						<th>Ressourcen</th>
						<th>Risiken</th>
						<th>Fortschritt</th>
						<th>Overall</th>
						<th>Kommentar</th>
					</tr>
					<tr th:each="state : ${listState}">
						<td th:text="${state.getPeriod_start()}"></td>
						<td th:text="${state.getPeriod_end()}"></td>
						<td align="center" valign="middle"><div th:class="${state.getCost_text()}" th:id="stateCost + ${state.getId()}"></div></td>
						<td align="center" valign="middle"><div th:class="${state.getDate_text()}" th:id="stateDate + ${state.getId()}"></div></td>
						<td align="center" valign="middle"><div th:class="${state.getRessource_text()}" th:id="stateRessource + ${state.getId()}"></div></td>
						<td align="center" valign="middle"><div th:class="${state.getRisk_text()}" th:id="stateRisk + ${state.getId()}"></div></td>
						<td th:text="${state.getProgress_text()}"></td>
						<td th:id="stateOverall + ${state.getId()}" class="overallStates"><div th:id="stateOverallDiv + ${state.getId()}" ></div> </td>
						<td class="tdw" th:text="${state.getComment()}"></td>
					</tr>
					<tr>
						<td colspan="9">
							<p th:text="${error_comment}" class="bt-danger">Fehlermeldung</p>
							<button type="button" class="btn btn-default" aria-label="Left Align">
  								<span class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#newStatus" aria-hidden="true"></span>
				  			</button>
						</td>
					</tr>
				</table>
			</div>	
				
			<div id="risk" class="tab-pane fade">
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Beschreibung</th>
						<th>Masnahmen</th>
						<th>ETW</th>
						<th>Auswirkung</th>
						<th>Kritikalität</th>
						<th>Verantwortlicher</th>
						<th>Phase</th>
						<th/>
					</tr>
					<tr th:each="risk : ${listRisk}">
						<td th:text="${risk.getId()}"></td>
						<td class="tdw" th:text="${risk.getDecription()}"></td>
						<td class="tdw2" th:text="${risk.getMeasures()}"></td>
						<td th:text="${risk.getEtw_text()}"></td>
						<td th:text="${risk.getImpact_text()}"></td>
						<td th:text="${risk.getCritical_text()}"></td>
						<td th:text="${risk.getResponsible()}"></td>
						<td th:text="${risk.getState_phase()}"></td>
					</tr>
					<tr>
						<td colspan="9">
							<button type="button" class="btn btn-default" aria-label="Left Align">
  								<span class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#newRisk" aria-hidden="true"></span>
							</button>	
						</td>
					</tr>
				</table>
			</div>
			
		</div> <!-- class="tab-content" -->
		
	</div> <!-- class="container theme-showcase" role="main" -->


	<!-- Modal Dialoge -->
	
	<!--  Modal Dialog: Neue Person -->
	<div id="newPerson" class="modal fade" role="dialog">
		<form action="#" th:action="${postActionPeople}" method="post" th:object="${peopleDetail}" name="People"> 
			<input type="hidden" th:field="*{id}"/>
			<div class="modal-dialog">
		    Modal content
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Neue Person</h4>
		      </div>
		      <div class="modal-body">
			        <table class="table table-striped">
			        	<tr>
			        		<td>Vorname*</td>
			        		<td><input type="text" th:field="*{firstname}" id="peopleFirstname"/></td>
			        		<td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name Error</td>
			        	</tr>
			        	<tr>
			        		<td>Name*</td>
			        		<td><input type="text" th:field="*{lastname}" id="peopleLastname"/></td>
			        		<td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Name Error</td>
			        	</tr>
			        </table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
		        <button type="button" class="btn btn-default" onClick="validateAndSubmitPeople()">Speichern</button>
		      </div>
		    </div>
	  	  </div>
		</form> 
	 </div>
	
	<!--  Modal Dialog: Save Alert Person -->
	<div id="saveAlert" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    Modal content
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Zuerst speichern</h4>
		      </div>
		      <div class="modal-body">
			        Ihre Änderungen auf dem Projekt müssen gespeichert werden bevor Sie eine neue Person erfassen können.			   
		      </div>
		      <div class="modal-footer">
		        <button type="button" onClick="setButtonBack()" class="btn btn-default" data-dismiss="modal">Ok</button>
		      </div>
		    </div>
	  	  </div>
		</div>
	
	<!--  Modal Dialog: Tab Change Alert -->
	<div id="tabChangeAlert" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    Modal content
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Zuerst speichern</h4>
		      </div>
		      <div class="modal-body">
			        Sie müssen die Änderungen zuerst speichern, bevor sie den Tab wechseln können			   
		      </div>
		      <div class="modal-footer">
		        <button type="button" onClick="setButtonBack()" class="btn btn-default" data-dismiss="modal">Ok</button>
		      </div>
		    </div>
	  	  </div>
		</div>
	
	<!-- Modal Dialog: Neuer Status -->
	<div id="newStatus" class="modal fade" role="dialog">
		<form id="formState" action="#" th:action="${postActionState}" method="post" th:object="${itemDetailState}" name="formState">
			<div class="modal-dialog">
				<input type="hidden" th:field="*{id}"/>
				<input type="hidden" th:field="*{project_id}"/>
		    	Modal content
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal">&times;</button>
		        		<h4 class="modal-title">Neuer Status</h4>
		      		</div>
		      		<div class="modal-body">
						<table class="table table-striped">
			        		<tr>
			        			<td>Periode Start*</td>
			        			<td><input type="date" id="period_start" name="period_start"/></td>
			        		</tr>
			        		<tr>
			        			<td>Periode Ende*</td>
			        			<td><input type="date" id="period_end" name="period_end"/></td>
			        		</tr>
			        		<tr>
			        			<td>Kosten*</td>
			        			<td>
				        			<select name="cost">
					            		<option value="1">grün</option>
					            		<option value="2">gelb</option>
					              		<option value="3">rot</option>
					            	</select>
								</td>
			        		</tr>
			        		<tr>
			        			<td>Zeit*</td>
			        			<td>
				        			<select name="date">
						            	<option value="1">grün</option>
						            	<option value="2">gelb</option>
						              	<option value="3">rot</option>
					            	</select>
				            	</td>
			        		</tr>
			        		<tr>
			        			<td>Ressourcen*</td>
								<td>
					        		<select name="ressource">
						            	<option value="1">grün</option>
						            	<option value="2">gelb</option>
						              	<option value="3">rot</option>
						            </select>
					           	</td>
				        	</tr>
				        	<tr>
				        		<td>Risiken*</td>
				        		<td>
					        		<select name="risk">
						            	<option value="1">grün</option>
						            	<option value="2">gelb</option>
						              	<option value="3">rot</option>
						            </select>
					            </td>
				        	</tr>
				        	<tr>
				        		<td>Fortschritt*</td>
				        		<td>
					        		<select name="progress">
					        			<option value="0">0%</option>
						            	<option value="10">10%</option>
						            	<option value="20">20%</option>
						              	<option value="30">30%</option>
						           		<option value="40">40%</option>
						              	<option value="50">50%</option>
						                <option value="60">60%</option>
						              	<option value="70">70%</option>
						                <option value="80">80%</option>
						       			<option value="90">90%</option>
						             	<option value="100">100%</option>
						            </select>
					            </td>
				        	</tr>
				        	<tr>
				        		<td class="tdw2">Kommentar (max 250 Zeichen)</td>
				        		<td>
					        		<textarea cols="40" rows="8" id="comment" name="comment"></textarea>			            	
					            </td>
				        	</tr>
			        	</table>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
		        		<button type="button" class="btn btn-default" onClick="validateAndSubmitState()">Speichern</button>
		      		</div>
		    	</div>
			</div>
		</form>
	</div>
	
	<!-- Modal Dialog: Neues Risiko -->
	<div id="newRisk" class="modal fade" role="dialog">
		<form id="formRisk" action="#" th:action="${postActionRisk}" method="post" th:object="${itemDetailRisk}" name="formRisk">
			<div class="modal-dialog">
				<input type="hidden" th:field="*{id}"/>
				<input type="hidden" th:field="*{project_id}"/>
			    Modal content
			    <div class="modal-content">
			    	<div class="modal-header">
			    		<button type="button" class="close" data-dismiss="modal">&times;</button>
			        	<h4 class="modal-title">Neues Risiko</h4>
			      	</div>
				    <div class="modal-body">
						<table class="table table-striped">
					    	<!-- Risk ID setzen? => neues Feld in der DB -->
					        <!-- <tr>
					        	<td>ID</td>
					        	<td><input type="text" id="id" name="id"/></td>
					        </tr> -->
					        <tr>
					        	<td class="tdw2">Beschreibung (max. 250 Zeichen)*</td>
					        	<td><textarea cols="40" rows="8" id="decription" name="decription"></textarea></td>
					        </tr>
					        <tr>
					        	<td class="tdw2">Masnahmen (max. 250 Zeichen)*</td>
					        	<td><textarea cols="40" rows="8" id="measures" name="measures"></textarea></td>
					        </tr>
					        <tr>
					        	<td>ETW in %*</td>
					        	<td><input type="text" id="etw" name="etw"/></td>
					        </tr>
					        <tr>
					        	<td>Auswirkung*</td>
								<td>
						       		<select id="impact" name="impact">
							           	<option value="1">leicht</option>
							           	<option value="2">mittel</option>
							          	<option value="3">schwer</option>
							        </select>
						        </td>
					        </tr>
					        <tr>
					        	<td>Kritikalität*</td>
					        	<td>
						       		<select id="critical" name="critical">
							           	<option value="1">leicht</option>
							           	<option value="2">mittel</option>
							           	<option value="3">schwer</option>
									</select>
						        </td>
				        	</tr>
				        	<tr>
				        		<td>Verantwortlicher*</td>
				        		<td>
				        			<select name="selectResponsible" th:object="${itemDetailRisk}" th:field="*{responsible_id}">
				              			<option th:each="people : ${list}" th:text="${people.getFullname()}" th:value="${people.getId()}" th:name="${people.getFullname()}" id="responsible_id">Option 1</option>
									</select>
								</td>
				        	</tr>
				        	<tr>
				        		<td>Phase*</td>
				        		<td>
					        		<select id="state_phase" name="state_phase">
						            	<option value="Initialisierung">Initialisierung</option>
						            	<option value="Konzeption">Konzeption</option>
						              	<option value="Realisierung">Realisierung</option>
						              	<option value="Einführung">Einführung</option>
						            </select>
					            </td>
				        	</tr>
				        </table>
				    </div>
				    <div class="modal-footer">
				    	<button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
				    	<button type="button" class="btn btn-default" onClick="validateAndSubmitRisk()">Speichern</button>
				    </div>
				</div>
			</div>
		</form>
	</div>
	
	<!--  Ende Modal Dialgoge -->
	
</body>
</html>