<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Project Portfolio Planer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<!-- 
		Bootstrap 3 Tutorial
		http://www.w3schools.com/bootstrap/default.asp
	 -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<ul class="nav navbar-nav">
        	<li class="active"><a href="#">Home</a></li>
            <li><a href="/item">New Project</a></li>
            <li><a href="/people">User Management</a></li>
        </ul>
    </nav>
	
	<div class="container theme-showcase" role="main">
	
		<div class="jumbotron">
			<h1>Project Portfolio Planer</h1>
			Willkommen im Projekt Portfolio Planer.<br/>
		</div>
		
		<div class="page-header"><h2>Project Overview</h2></div>
		
		<table class="table table-striped">
			<tr>
				<th>Projekt Name</th>
				<th>Projekt Start</th>
				<th>Projekt Ende</th>
				<th>Projekt Phase</th>
				<th>Auftraggeber</th>
				<th>Projektleiter</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="project : ${list}">
				<td th:text="${project.getName()}"></td>
				<td th:text="${project.getStart()}"></td>
				<td th:text="${project.getEnd()}"></td>
				<td th:text="${project.getProject_phase()}"></td>
				<td th:text="${project.getCustomer()}"></td>
				<td th:text="${project.getProjectleader()}"></td> 
				<td><a href="" th:href="${'/item?id=' + project.getId()}">bearbeiten</a></td>
				<td><a href="" th:href="${'/item/delete?id=' + project.getId()}">löschen</a></td>
			</tr>
		</table>

	</div>

</body>
</html>