<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Projektsteckbrief</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="script/checkscript.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<ul class="nav navbar-nav">
        	<li><a href="/">Home</a></li>
            <li><a href="/item">New Project</a></li>
            <li class="active"><a href="/people">User Management</a></li>
        </ul>
    </nav>
	
	<div class="container theme-showcase" role="main">
		<div class="page-header"><h2>Personen verwalten</h2></div>
		<div><h4>Neue Person hinzufügen
			<button type="button" onClick="checkChange()" class="btn btn-default new-person" data-toggle="modal" data-target="#newPerson" aria-label="Left Align">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button></h4>
		</div>
		<table class="table table-striped">
			<tr>
				<th>Vorname</th>
				<th>Nachname</th>
				<th class="tdw3"></th>
			</tr>
			<tr th:each="people : ${list}">
				<td th:text="${people.getFirstname()}"></td>
				<td th:text="${people.getLastname()}"></td>
				<td class="tdw3"><a href="#" th:href="${'/people/delete?id=' + people.getId()}">löschen</a></td>
			</tr>
		</table>
		<p th:text="${userDeleteError}" class="bg-danger">Fehlermeldung</p>
	</div>
	
	<!--  Modal Dialog: Neue Person -->
	<div id="newPerson" class="modal fade" role="dialog">
		<form action="#" th:action="${postActionPeopleManagement}" method="post" th:object="${peopleDetail}" name="People"> 
		<input type="hidden" th:field="*{id}" />
		
		  <div class="modal-dialog">
		    Modal content
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Neue Person</h4>
		      </div>
		      <div class="modal-body">
			        <table class="table table-striped">
			        	<tr>
			        		<td>Vorname*</td>
			        		<td><input type="text" th:field="*{firstname}" id="peopleFirstname"/></td>
			        		<td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name Error</td>
			        	</tr>
			        	<tr>
			        		<td>Name*</td>
			        		<td><input type="text" th:field="*{lastname}" id="peopleLastname"/></td>
			        		<td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Name Error</td>
			        	</tr>
			        </table>
			   
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
		        <button type="button" class="btn btn-default" onClick="validateAndSubmitPeople()">Speichern</button>
		      </div>
		    </div>
	  	  </div>
		</form>
	 </div>
	 
	 <!--  Modal Dialog: Save Alert Person -->
	 <div id="saveAlert" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    Modal content
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Zuerst speichern</h4>
		      </div>
		      <div class="modal-body">
			        Ihre Änderungen auf dem Projekt müssen gespeichert werden bevor Sie eine neue Person erfassen können.			   
		      </div>
		      <div class="modal-footer">
		        <button type="button" onClick="setButtonBack()" class="btn btn-default" data-dismiss="modal">Ok</button>
		      </div>
		    </div>
	  	  </div>
	</div>

</body>
</html>